@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="text-center mt-5">
    <h1 class="display-4">📚 Kitap Tutkunlarına Özel Dijital Kütüphane</h1><br>
    <p class="lead">Okuduğun kitapları puanla, yorum yap, öner ve paylaş!</p><br>

    <div class="mt-4">
        <a href="@Url.Action("SadeListe", "Kitaplar")" class="btn btn-outline-primary btn-lg me-2">
            📖 Kitapları Gör
        </a>

        <a href="@Url.Action("Index", "Yazarlar")" class="btn btn-outline-success btn-lg">
            ✍️ Yazarları Keşfet
        </a>
    </div>
    <br><br>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4 text-center">
                <h3>⭐ Kitap Puanla</h3><br>
                <p>Okuduğun kitaplara yıldız ver, diğer okuyuculara fikir sun.</p>
            </div>
            <div class="col-md-4 text-center">
                <h3>💬 Yorum Yap</h3><br>
                <p>Yorumlarınla katkı sağla, Kitapların sohbetine katıl.</p>
            </div>
        </div>
    </div>
