@model MvcKitapProjesi1.Models.KitapTurleri

@{
    ViewBag.Title = "Kitap Türü Sil";
}

<h2>Kitap Türü Sil</h2>

<h3>Bu kitap türünü silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Kitap Türü</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tür ID</dt>
        <dd>@Model.TurID</dd>

        <dt>Tür Adı</dt>
        <dd>@Model.TurAdi</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("İptal", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
